 pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
  word-wrap: break-word;
}

.alert-error {
  color: #c21e1e;
  background-color: #f2dede;
  border-color: #ebccd1;
  word-wrap: break-word;
}

.alert-success {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
  word-wrap: break-word;
}

.alert-warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  word-wrap: break-word;
}

.hero-unit {
  padding: 40px;
  margin-bottom: 20px;
  width: 450px;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  color: rgb(12, 12, 12);
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display:inline-block;
}

.row {
    margin-left: -30px;
}
 
